################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RssHitter
/RssHitter/bin
/RssHitter/obj
